<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%= 2 * 2 %> <%= Math.random() %>

    <h1><%= gender %></h1>

    <% if (gender == "male") { %>

    <p><%= name %></p>
    <% }else {%>

    <p>na woman you be</p>
    <% } %>
  </body>
</html>
