<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/addtodo" method="post">
      <input type="text" name="title" placeholder="title" />
      <input type="text" name="content" placeholder="content" />
      <button type="submit">Addtodo</button>
    </form>

    <% todoarray.forEach((element, index) => { %>
    <p><%= element.title %></p>
    <p><%= element.content %></p>

    <form action="/delete" method="post">
      <input name="index" value="<%= index %>" type="text" hidden />
      <button type="submit">delete</button>
    </form>

    <form action="/edit/<%= index %>" method="get">
      <button type="submit">edit</button>
    </form>
    <% }) %>
  </body>
</html>
